<div class="navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1730718446/logo-simple-original_mc5ybi.svg", alt: "Logo", class: "navbar-logo-image" %>
    <% end %>
  </div>

 <div class="navbar-toggle" onclick="toggleMenu()">
    &#9776;
  </div>

  <!-- Menu de navigation -->
  <nav class="navbar-menu">
    <ul class="navbar-links">
      <li><%= link_to "Amenagement Bois", amenagement_bois_path %></li>
      <li><%= link_to "Aménagement métallique EDSTROM", amenagement_metal_index_path %></li>
      <li><%= link_to "Équipements extérieurs", galeries_path %></li>
      <li><%= link_to "Véhicules spécialisés (VASP)", vehicules_specialises_path %></li>
      <!-- <li><%= link_to "Notre équipe", notre_equipe_path %></li> -->
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>

