<div class="container my-5 habillage">
  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Habillages de Protection pour l’Espace de Chargement des Véhicules Utilitaires</h2>
      <p>Les habillages de protection pour l’espace de chargement des véhicules utilitaires sont essentiels pour optimiser la sécurité, la durabilité et l'efficacité du transport de marchandises et d'équipements. En installant ces aménagements, vous protégez non seulement les surfaces internes du véhicule, mais vous améliorez aussi l'organisation des charges, ce qui contribue à prolonger la durée de vie de votre véhicule et à renforcer la sécurité routière.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795911/habillage_de_protection-1_msy1zd.jpg", class: "img-fluid rounded", alt: "Espace de chargement protégé dans un véhicule utilitaire" %>
    </div>
  </div>

  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Conception et fabrication sur mesure d'habillages de protection</h2>
      <p>Les habillages de protection sont fabriqués sur mesure pour s’adapter précisément aux dimensions de chaque véhicule utilitaire. Conçus à partir de matériaux robustes et résistants, ils répondent aux besoins spécifiques de chaque activité :</p>
      <ul>
        <li>Plancher en bois brut : en contreplaqué ou en panneaux de particules haute densité, il offre une protection solide contre l'usure, les rayures et les impacts.</li>
      </ul>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795911/habillage_de_protection-2_dgefqz.jpg", class: "img-fluid rounded", alt: "Planchers en bois brut dans un espace de chargement" %>
    </div>
  </div>

  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Plancher en bois antidérapant</h2>
      <p>En contreplaqué ou panneaux haute densité, il ajoute une sécurité supplémentaire grâce à sa surface antidérapante, réduisant ainsi les risques de glissade pour les personnes chargées de charger ou décharger le véhicule.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744796982/habillage_de_protection-3_sibuag.jpg", class: "img-fluid rounded", alt: "Plancher antidérapant avec texture de sécurité" %>
    </div>
  </div>

  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Habillage des flancs et portes en bois</h2>
      <p>En contreplaqué, cet habillage représente une solution économique et robuste pour protéger les flancs et les portes du véhicule.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744796982/habillage_de_protection-4_nxus6x.jpg", class: "img-fluid rounded", alt: "Flancs et portes en bois robuste" %>
    </div>
  </div>

  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Habillage des flancs et portes en PVC (akyboard)</h2>
      <p>Léger, facile à entretenir et résistant à l’humidité, cet habillage est idéal pour les environnements nécessitant une haute résistance à l’humidité.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795912/habillage_de_protection-5_dfpl3o.jpg", class: "img-fluid rounded", alt: "Flancs et portes en PVC, résistant à l'humidité" %>
    </div>
  </div>

  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Protection et durabilité optimales</h2>
      <p>Chaque habillage de protection est solidement fixé pour garantir une protection durable sans affecter l'intégrité ni la fonctionnalité du véhicule utilitaire. Optimisez ainsi la sécurité et la longévité de vos équipements et véhicules en choisissant des solutions d’aménagement adaptées.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795912/habillage_de_protection-6_kvlnvf.jpg", class: "img-fluid rounded", alt: "Vue complète d’un véhicule avec habillages installés" %>
    </div>
  </div>
</div>
