<div class="container my-5 equipements-ext">

  <!-- Serrures de sécurité -->
  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Serrures de sécurité pour véhicules utilitaires</h2>
      <p>Les serrures de sécurité pour camion et fourgon utilitaire renforcent la protection des marchandises transportées. Conçues pour résister aux tentatives d’effraction, elles intègrent des matériaux robustes et des mécanismes de verrouillage avancés. Ce dispositif réduit considérablement les risques de vol et garantit la tranquillité d’esprit lors des interventions ou livraisons.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795915/%C3%A9quipements_ext%C3%A9rieurs-1_i39k1e.jpg", class: "img-fluid img-same-height rounded", alt: "Serrure de sécurité antivol pour véhicule utilitaire professionnel" %>
    </div>
  </div>

  <!-- Bandes réfléchissantes -->
  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Bandes réfléchissantes haute visibilité pour véhicules d’intervention</h2>
      <p>Indispensables pour la sécurité routière, les bandes réfléchissantes améliorent la visibilité des véhicules professionnels, notamment en conditions de faible luminosité ou de nuit. Elles permettent aux autres usagers de détecter rapidement la présence du véhicule, réduisant ainsi le risque d’accident sur la voie publique.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744800278/%C3%A9quipements_ext%C3%A9rieurs-2_whztbl.jpg", class: "img-fluid img-same-height rounded", alt: "Bandes réfléchissantes pour camion d’intervention ou véhicule utilitaire" %>
    </div>
  </div>

  <!-- Gyrophare et triangle -->
  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Gyrophare et triangle de signalisation pour sécurité routière</h2>
      <p>Le gyrophare et le triangle de signalisation sont essentiels pour les véhicules d’intervention opérant sur la voie publique. Ils assurent une visibilité optimale lors des arrêts en urgence ou des travaux, contribuant à la prévention des accidents et à la protection des équipes d’intervention et des autres conducteurs.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795915/%C3%A9quipements_ext%C3%A9rieurs-3_nuoycp.jpg", class: "img-fluid img-same-height rounded", alt: "Gyrophare orange et triangle de signalisation sur véhicule professionnel" %>
    </div>
  </div>

  <!-- Galeries -->
  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Galeries de toit pour véhicules utilitaires professionnels</h2>
      <p>Les galeries permettent d’augmenter la capacité de transport des véhicules utilitaires. Fabriquées en acier galvanisé ou aluminium, elles offrent solidité, durabilité et résistance aux intempéries. Elles permettent de transporter en toute sécurité des charges encombrantes comme des tubes, échelles ou matériaux longs.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744800278/%C3%A9quipements_ext%C3%A9rieurs-4_zwcn5p.jpg", class: "img-fluid img-same-height rounded", alt: "Galerie de toit en acier sur fourgon utilitaire pour transport de matériel" %>
    </div>
  </div>

  <!-- Échelles -->
  <div class="row align-items-center my-4">
    <div class="col-md-8">
      <h2>Échelles d’accès pour galeries de toit de véhicules utilitaires</h2>
      <p>Les échelles latérales ou arrière facilitent l’accès sécurisé au toit du véhicule. Fabriquées en aluminium ou acier galvanisé, elles offrent une excellente résistance aux intempéries et une utilisation durable au quotidien. Leur installation optimise l’ergonomie pour le chargement et déchargement du matériel.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744800278/%C3%A9quipements_ext%C3%A9rieurs-5_smdtvq.jpg", class: "img-fluid img-same-height rounded", alt: "Échelle arrière pour accès au toit d’un utilitaire équipé d’une galerie" %>
    </div>
  </div>

  <!-- Marchepieds -->
  <div class="row align-items-center my-4 flex-row-reverse">
    <div class="col-md-8">
      <h2>Marchepieds fixes ou coulissants pour utilitaires</h2>
      <p>Les marchepieds permettent un accès facile et sécurisé à la cabine ou à la zone de chargement du véhicule. Fixes ou coulissants, ils sont conçus en matériaux résistants pour une utilisation intensive. Très appréciés des professionnels, ils améliorent l’ergonomie et la sécurité lors des chargements fréquents.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744795916/%C3%A9quipements_ext%C3%A9rieurs-6_hz06r4.jpg", class: "img-fluid img-same-height rounded", alt: "Marchepied latéral en acier pour fourgon utilitaire professionnel" %>
    </div>
  </div>

</div>
