<!DOCTYPE html>
<html>
<head>
  <title>Votre Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'navbar', media: 'all' %>
</head>

<body>
  <%= render 'shared/navbar' %> 

  <%= yield %>
</body>
<script>
  function toggleMenu() {
    const menu = document.querySelector('.navbar-menu');
    menu.classList.toggle('show');
  }
</script>

</html>
