<h1>Plan du site</h1>

<ul>
  <li><%= link_to 'Accueil', root_path %></li>
  <li><%= link_to 'Aménagements en bois', amenagement_bois_path %></li>
  <li><%= link_to 'Aménagements métalliques (Edström)', amenagement_metal_index_path %></li>
  <li><%= link_to 'Équipements extérieurs', equipements_ext_index_path %></li>
  <li><%= link_to 'Galeries et échelles', galeries_path %></li>
  <li><%= link_to 'Véhicules spécialisés VASP', vehicules_specialises_path %></li>
  <li><%= link_to 'Notre équipe', notre_equipe_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
  <li><%= link_to 'Mentions légales', mention_legales_path %></li>
</ul>
